//Generated with mustache framework

parser grammar {{grammarName}}Parser;

options {
    tokenVocab = {{grammarName}}Lexer;
}

//root rule
command: TRIGGER ({{disjunctionOfClasses}}) EOF;

{{#classes}}
// Parser rules
{{className}} : {{disjunctionOfSubclasses}} ;
{{/classes}}

{{#commands}}
// Parser rules
{{commandName}} : {{command}} ;
{{/commands}}

{{#phrases}}
// Parser rules
{{phraseName}} : {{phrase}} ;
{{/phrases}}
