//Generated with mustache framework

parser grammar {{grammarName}}Parser;

options {
    tokenVocab = {{grammarName}}Lexer;
}

//root rule
command: TRIGGER ({{alternationOfClasses}}) EOF;

{{#classes}}
{{className}} : {{alternationOfSubclasses}} ;
{{/classes}}

{{#commands}}
{{commandName}} : {{command}} ;
{{/commands}}

{{#phrases}}
{{phraseName}} : {{phrase}} ;
{{/phrases}}
